[Unit]
Description=ZKillQuery Container

[Container]
Image=localhost/zkillquery:latest
ContainerName=zkillquery-run
Volume=~/ZKillQueryData:/app/ZKillQueryData
PodmanArgs=--log-driver=journald
Exec=/bin/bash -c "cd /app/ZKillQuery && /usr/local/bin/python3 ZKillQuery.py 2>&1 > /app/ZKillQueryData/run.log"
LogDriver=journald
StandardOutput=journal
StandardError=journal

[Service]
Restart=always  # Auto-restart if it exits/crashes

[Install]
WantedBy=default.target

