[Unit]
Description=ZKillQuery Container

[Container]
Image=localhost/zkillquery:latest
ContainerName=zkillquery-run
Volume=~/ZKillQueryData:/app/ZKillQueryData
PodmanArgs=--log-driver=journald
Exec=/bin/bash -c "cd /app/ZKillQuery && ls -ld * && python3 -u ZKillQuery.py"
LogDriver=journald
StandardOutput=journal
StandardError=journal

[Service]
Restart=always  # Auto-restart if it exits/crashes

[Install]
WantedBy=default.target

